<h1>Edit House</h1>
<%= form_for @house do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
</p>

<p>
  <%= f.submit %>
</p>

<%end%>
